.sidebar {
  min-width: 220px;
  max-width: 220px;
  height: 630px;
  background: rgb(255, 255, 255);
  color: #021c4b;
  border: 1px solid #e5e7eb;
  position: fixed;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;

  .sidebar_header {
    background: #ffff;
    color: #adb5bd;
    font-size: 20px;
    font-weight: 600;
  }

  // .nav_item {
  //   color: #adb5bd;
  //   font-weight: 300;
  // }
}
