.sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #ffff;
  color: #adb5bd;
  // margin-left: -250px;

  .sidebar_header {
    background: #ffff;
    color: #adb5bd;
    font-size: 24px;
    font-weight: 600;
  }

  .nav_item {
    color: #adb5bd;
    font-weight: 300;
  }
}
