.basefeature {
  background-color: #fcfcfc;
  // width: 100%;
  // height: 350px;
  .title_feature {
    font-size: 25px;
    font-weight: 700;
    color: #000;
  }

  .desc_feature {
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    color: #aaa;
  }
}
