.baselogin {
  margin: 12px, 12px, 12px, 12px;
  .signup_link {
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    color: #aaa;
  }

  .link {
    color: #00008c;
  }

  .baseform_title {
    margin-top: 5rem;
    padding-left: 2rem;
  }

  .baseleft_login {
    background-color: #0d2244;
    color: white;
    height: 39rem;
  }
}
